@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200&display=swap');



/* To make Nav Panel */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: 	rgb(101, 116, 125);
    min-height: 200vh;
    color: white;
}
Header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    background-color: rgb(37, 37, 37);

}
Header.sticky{
    padding: 5px 100px;
    background: #fff;
}
.logo{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;


}
.box1{
    position: relative;
    list-style: none;
}
.Banner{
    position: relative;
    width: 100%;
    height: 10vh;
    background:url(bg.jp);
    background-size: cover;
    

}
/* To make Nav Panel End */

/* Editing info in website */

#Homepage{
    margin: 20px;
}

/* To make Nav Panel */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: rgb(36, 33, 33);
    min-height: 200vh;
    color: white;
}
Header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    background-color: grey;

}
Header.sticky{
    padding: 5px 100px;
    background: #fff;
}
.logo{
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;


}
.box1{
    position: relative;
    list-style: none;
}
.Banner{
    position: relative;
    width: 100%;
    height: 10vh;
    background:url(bg.jp);
    background-size: cover;
    

}
/* To make Nav Panel End */

/* Editing info in website */

.space{
    margin: 100vh;
    color: black;
}
#About-Me{
    font-size: 75px;
    border-radius: 5px;
    
    border-color: white;
}